body {
  background-color: #110425;
}

.wrapper {
  margin-top: 100px;
}

.img-area {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.s-img img {
  padding: 0 20px 20px;
  width: 300px;
  height: 300px;
}

img:hover {
  opacity: 0.5;
  transition: 0.9s;
}

.card {
  background: rgba(202, 44, 123, 0.89);
  width: 300px;
  height: 80px;
  margin: 20px;
  text-align: center;
  color: beige;
}
